body {
    --color :  rgb(228, 177, 177);

    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    flex-direction: column;

    background-image: url("./forestry-home-1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}


#model {
    margin-top: 100px;
    padding: 20px;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=6ae5a7&c2=8896e300&gt=r&gd=dcc
*/
    background: rgba(106, 229, 167, 1.0);
    background: radial-gradient( 300px at center, rgb(245, 234, 76), rgba(136, 150, 227, 0.0));
    
    height: 500px;
    width: 500px;

}
